@font-face {
    font-family: utm-evo;
    src: url('../fonts/utm-avo.ttf') format('truetype'), url('../fonts/utm-avobold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans:wght@300&family=Roboto:ital,wght@0,300;0,400;1,100&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #050501;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

html,
body {
    overflow-x: hidden;
    background-image: url('../images/background/bg.png');
}

button {
    cursor: pointer;
}

.none-border {
    border: none;
}

.radius-v2 {
    border-radius: 0 0 30px 0;
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.s11-fwb {
    font-size: 13px;
    font-weight: bold;
}

.s11-b-fwb {
    font-size: 14px;
    font-weight: bolder;
}

.small-fwb {
    font-size: 11.5px;
    font-weight: bolder;
}

.f-14 {
    font-size: 14px;
}

.radius {
    border-radius: 50px;
}

.m-1024px {
    max-width: 1300px!important;
}

.width-75 {
    max-width: 75%!important;
}

.align-right {
    float: right;
}

.width-50 {
    max-width: 50%!important;
}

.max-width {
    max-width: 100%!important;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.padding-20px {
    padding: 20px;
}

.padding-5px {
    padding: 10px;
}

.button-absolute {
    position: absolute;
}

.logo {
    padding: 0;
}

.bg-gray {
    background-color: #E6E6E6;
}

.top-header {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.logo-header {
    transform: scale(0.85, 0.85);
}

.middle {
    padding-top: 20px;
    font-size: 18px;
}

:root {
    --width-now: 1496px;
}

.vn-font {
    color: #10228c;
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

.header {
    background-image: url("../images/background-header.png");
}

#title-banner {
    padding-top: 7%;
    padding-left: 7%;
    padding-bottom: 3%;
    padding-right: 7%;
}

.banner {
    background-image: url("../images/BANNER-PHP.jpg");
    width: 100%;
    min-height: calc(var(--width-now) * 0.4);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

.banner button {
    background: linear-gradient(to right, #2d74ea, #306ae7, #2f5de2, #3B3BD9);
    border: none;
    color: white;
    font-weight: bold;
    font-size: 22px;
    height: 50px;
    width: 250px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-left: 20%;
    margin-top: -10%;
}

.banner button:hover {
    box-shadow: rgba(102, 100, 100, 0.35) 0px 5px 15px;
    color: rgb(241, 234, 234);
}

.section-body {
    width: 100%;
    padding: 3%;
}

.title {
    position: relative;
    width: 100%;
}

.sbody {
    width: 100%;
    padding: 15px 0 15px 0;
}

.background-section {
    position: relative;
    background-image: url("../images/image-14.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 430px;
    width: 100%;
}

.background-section::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 140%;
    background-color: #242424;
    opacity: 0.8;
    z-index: 0;
    margin-top: -2%;
}

.descriptions {
    width: 100%;
    height: 50px;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
}

.descriptions p {
    color: white;
    margin: auto;
}

.career {
    background-color: #366aff;
    padding: 4%;
    width: 100%;
    border-radius: 5px;
    margin-top: 3%;
    margin-bottom: 3%;
}

.career p {
    color: white;
    margin: auto;
}

.background-section-2 {
    overflow: hidden;
    position: relative;
    background-image: url("../images/plan.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.pointer-scale {
    transition: all 0.1s ease;
}

.pointer-scale:hover {
    transform: scale(0.9, 0.9);
    box-shadow: rgba(118, 115, 115, 0.35) 0px 5px 15px;
}

.background-section-3 {
    position: relative;
    background-image: url("../images/Asset\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.reposrt-content {
    background-color: #ffffff;
    min-height: 370px;
}

.button-register {
    display: flex;
}

.button-register button {
    background-color: #366aff;
    border: none;
    color: #ffffff;
    padding: 10px;
    height: 50px;
    width: 200px;
    font-weight: bolder;
    margin: auto;
}

.comment-bar {
    border: 2px solid #2e2d2d;
    padding: 1%;
    border-radius: 25px;
}

.comment-area {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    height: 100%;
}

.comments {
    width: 90%;
    height: 100%;
}

.input-comment {
    width: 100%;
    border-radius: 40px;
    height: 100%;
    padding: 20px;
}

.input-comment:hover {
    background-color: #eaecf0;
    cursor: pointer;
}

.input-comment:focus {
    box-shadow: none;
    border: 2px solid #777778;
}

.no-padding {
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.wow {
    overflow: hidden!important;
}


/* .star span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1), 0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 1);
    animation: animate 3s linear infinite;
}

.star span::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg, #fff, transparent);
}

@keyframes animate {
    0% {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: rotate(315deg) translateX(-1500px);
        opacity: 0;
    }
}

.star span:nth-child(1) {
    top: 0;
    right: 0;
    left: initial;
    animation-delay: 0;
    animation-duration: 1s;
}

.star span:nth-child(2) {
    top: 0;
    right: 80px;
    left: initial;
    animation-delay: 0.2s;
    animation-duration: 3s;
}

.star span:nth-child(3) {
    top: 80px;
    right: 0px;
    left: initial;
    animation-delay: 0.4s;
    animation-duration: 2s;
}

.star span:nth-child(4) {
    top: 0;
    right: 180px;
    left: initial;
    animation-delay: 0.6s;
    animation-duration: 1.5s;
}

.star span:nth-child(5) {
    top: 0;
    right: 400px;
    left: initial;
    animation-delay: 0.8s;
    animation-duration: 2.5s;
}

.star span:nth-child(6) {
    top: 0;
    right: 600px;
    left: initial;
    animation-delay: 1s;
    animation-duration: 3s;
}

.star span:nth-child(7) {
    top: 300px;
    right: 0px;
    left: initial;
    animation-delay: 1s;
    animation-duration: 1.75s;
}

.star span:nth-child(8) {
    top: 0px;
    right: 700px;
    left: initial;
    animation-delay: 1.4s;
    animation-duration: 1.25s;
}

.star span:nth-child(9) {
    top: 0px;
    right: 1000px;
    left: initial;
    animation-delay: 0.75s;
    animation-duration: 2.25s;
}

.star span:nth-child(10) {
    top: 0px;
    right: 1000px;
    left: initial;
    animation-delay: 2.75s;
    animation-duration: 2.25s;
} */

@media (max-width: 960px) {
    .reButton {
        display: none;
    }
    .banner {
        min-height: 260px;
        height: auto;
    }
    .s11-fwb {
        font-size: 14px!important;
        /* font-weight: bolder; */
    }
    .reposrt-content {
        background-color: #ffffff;
        min-height: 300px;
    }
    .p-10 {
        padding-top: 25px;
        padding-bottom: 25px;
        transform: translate(10px, 10px);
    }
    .trftrl {
        transform: translate(10px, 10px);
    }
    .tsl-10 {
        padding-top: 25px;
        transform: translate(10px, 10px);
    }
    .res-width {
        max-width: 50%!important;
    }
}

@media (max-width: 1104px) {
    .s11-fwb {
        font-size: 12px!important;
        /* font-weight: bolder; */
    }
}

@media (min-width: 1600px) {
    .s11-fwb {
        font-size: 18px!important;
        /* font-weight: bolder; */
    }
}

@media (min-width: 2000px) {
    .s11-fwb {
        font-size: 20px!important;
        /* font-weight: bolder; */
    }
}

@media (min-width: 2200px) {
    .s11-fwb {
        font-size: 22px!important;
        /* font-weight: bolder; */
    }
}